{%  extends 'MAINAPP/home.html' %}
{% load static %}
{% block content %}

<div class="bground1">
  <div class="container" style="position:relative;">
    <br>
    <p style="text-align:right;"><a  href="{% url 'report'  %}" style="font-size:13px;font-weight:400;font-family: 'Roboto', sans-serif;">Report a Problem <i class="bi bi-chevron-right"></i></a></p>
    <br><br>
        <video autoplay muted loop  height="600px" class="vid"style="border-radius:30px;border:10px solid #D7DBDD;margin-top:27%;" >
         <source src="{% static 'images/vid5.mp4'%}" type="video/mp4">
      </video>
  </div>
  <div class="container" style="margin-left:auto;margin-right:auto;position:relative">
    <br><br>
    <p style="margin-bottom:0px;font-size:16px;font-weight:400;color:white;font-family: 'Roboto', sans-serif;text-align:center;"> You don't have to struggle in silence.</p>

    <p style="margin-top:0px;font-size:70px;font-weight:600;color:white;font-family: 'Roboto', sans-serif;text-align:center;" >Mental Health</p>
<br><br>
  <div class="row">
    <div class="col-lg-8" style="display:flex;flex-wrap:wrap;margin-left:auto;margin-right:auto;">
      <div class="" style="width:100%;padding:10px;">
        <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-7 col-10" style="margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;padding:10px;">
          <div class="backdrop" style="width:100%;padding:20px;background:rgba(0,0,0,0.5);border-radius:20px;border:2px solid  #A6ACAF">
           <p style="color:white;font-size:30px;font-weight:600;margin-bottom:5px;">why?</p>
           <p class="statsgradient" style="color:#F2F3F4 ;font-size:11px;font-weight:400;margin:0px;">Mental health influences how you think, feel and behave in daily life. It refers to cognitive, behavioural, and emotional well-being. One in four people experience a mental health episode in their lifetime, but the issue remains largely neglected. Determine how mentally healthy you are using Pulse. </p>
          </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-10" style="margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;padding:10px;">
          <div class="backdrop" style="width:100%;padding:20px;background:rgba(0,0,0,0.5);border-radius:20px;border:2px solid  #A6ACAF">
          <p style="color:white;font-size:15px;font-weight:600;margin:0px;">Up to</p>
          <p style="color:white;font-size:40px;font-weight:600;margin:0px;"><label style="font-weight:700;margin:0px;">86%</label></p>
          <p class="statsgradient" style="color:#F2F3F4 ;font-size:11px;font-weight:400;margin:0px;"> of accuracy achieved in our inbuilt mental health diagnosis tool designed using tensorflow. </p>
         </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-10" style="margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;padding:10px;">
          <div class="backdrop" style="width:100%;padding:20px;background:rgba(255,255,255,0.8);border-radius:20px;border:2px solid  #A6ACAF">
          <p style="color:black;font-size:15px;font-weight:600;margin:0px;font-family: 'Roboto', sans-serif;text-align:center;">Student Survey Analysis</p>
         <hr>
        <p style="font-size:11px;font-weight:500;margin:0px;text-align:center">We had conducted a survey on Feb 2022 to analyse the Impact of covid on students. The objective of the survey is to closely analyse the global problem of mental health and the change in behaviour of students due to COVID</p>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-5 col-10" style="padding:25px;margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;">
            <div class="" style="width:100%">
              <p style="text-align:center;color:black;font-size:25px;font-weight:600;margin:0px;font-family: 'Roboto', sans-serif;">300+</p>
              <p style="font-size:12px;color:#626567 ;font-weight:400;margin:0px;text-align:center">students participated in the survey and provided their feedback on mental health.</p>

            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-5 col-10" style="padding:25px;margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;">
           <div class="" style="width:100%">
             <p style="text-align:center;color:black;font-size:25px;font-weight:600;margin:0px;font-family: 'Roboto', sans-serif;">61%</p>
             <p style="font-size:12px;color:#626567 ;font-weight:400;margin:0px;text-align:center">students suffers from exhaustion and feeling of low energy / tiredness.</p>
           </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-5 col-10" style="padding:25px;margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;">
            <div class="" style="width:100%">
              <p style="text-align:center;color:black;font-size:25px;font-weight:600;margin:0px;font-family: 'Roboto', sans-serif;">41%</p>
              <p style="font-size:12px;color:#626567 ;font-weight:400;margin:0px;text-align:center">students are highly stressed with 30% students reported to deal with nervousness.</p>
            </div>
          </div>
        </div>
         </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

  <div class="container">
    <p  style="font-size: 18px;font-weight:500;font-family: 'Roboto', sans-serif;text-align :center;margin:0px;" >Mental Health Test</p>
    <p style="font-size:35px;font-weight:500;font-family: 'Roboto', sans-serif;text-align :center;">We are here to Listen.</p>
    <p class="col-lg-5"style="margin-left:auto;margin-right:auto;text-align:center;font-size:14px;font-weight:400;font-family: 'Roboto', sans-serif;">If you provide us your information and are in need of support, we will do our best to respond.</p>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="margin-left:auto;margin-right:auto;margin-bottom:20px;display:flex;flex-wrap:wrap;">
        <div class="" style="width:100%;border: 1px solid #CACFD2;border-radius:15px;padding:20px;background:white;">
          <form method="post" enctype="multipart/form-data" action ="{% url 'mentalhealth_results' %}">
          {% csrf_token %}
          <div class="row">
            <div class="col-lg-6 col-md-10 com-sm-12 col-12" style="paadding:20px;margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;">
              <div class="" style="width:100%;padding:10px;">
                <p style="font-size:13px;color:#626567;">1. Describe your experience at your workplace / university / school / Home in the past few days.</p>
                <div class="input-group"><textarea class="form-control"name="question1" style="font-size:12px;height:100px;"required ></textarea></div>
                <br>
                <p style="font-size:13px;color:#626567;">3. Describe in a broader way how your life is going on.</p>
                <div class="input-group"><textarea class="form-control"name="question3" style="font-size:12px;height:100px;"required ></textarea></div>
              </div>
            </div>
            <div class="col-lg-6 col-md-10 com-sm-12 col-12" style="paadding:20px;margin-left:auto;margin-right:auto;display:flex;flex-wrap:wrap;">
              <div class="" style="width:100%;padding:10px;">
                <p style="font-size:13px;color:#626567;">2. Any improvement / decline in your financial status / salary / grades or in any area. Describe how do you manage in these situations.</p>
                <div class="input-group"><textarea class="form-control"name="question2" style="font-size:12px;height:100px;"required  ></textarea></div>
                <br>
                <p style="font-size:13px;color:#626567;">4. Please tell us anything you want to tell, we are here for you.</p>
                <div class="input-group"><textarea class="form-control"name="question4" style="font-size:12px;height:100px;"required  ></textarea></div>
              </div>
            </div>
          </div>
      <br>
      <div class="text-center">
       <button type="submit" value="Submit" class="btn btn-outline-primary" style="border-radius:50px;border-width:2px;font-weight:600;"> Submit <i class="bi bi-chevron-double-right"></i></button>
      </div>
      </form>
      </div>
    </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="margin-left:auto;margin-right:auto;margin-bottom:20px;display:flex;flex-wrap:wrap;">
      <div class="" style="width:100%;border: 1px solid #CACFD2;border-radius:15px;padding:20px;background:black;">
        <br>
        {% if score or score == 0 %}
        <p style="color:white;text-align:center;font-family: 'Roboto', sans-serif;font-size:20px;font-weight:400;margin-bottom:4px;">Your Mental Health Status</p>
        <p style="color:#BFC9CA;font-size:12px;text-align:center; margin-bottom:5px;">We provide your mental health score in a scale of 0 to 100. 0 being the worst and 100  being the best case.</p>
        <hr color=" #0d0d0d" style="margin:0px;">
        <br>
        <p style="color:white;text-align:center;font-size:14px;font-weight:500;">Mental Health Score : {{score}}%</p>
        {% if score <= 10 %}
        <div class="col-lg-6 col-md-8 col-sm-10 col-10 progress" style="border-radius:30px;margin-left:auto;margin-right:auto;padding:0px;height:8px;">
         <div class="progress-bar" role="progressbar" style="width: {{score}}%;background:#e60000;" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
      <div class="col-lg-8" style="margin-left:auto;margin-right:auto;">
        <p style="font-size:13px;text-align:center;color:#ff6666;">You mental health seems to be very poor with a score of {{score}}%. Be patient, you are worthy and brave enough. Tough times don't last but tough people do, we know that you are brave enough and you will fight for the best days to come, never lose hope. We suggest you seek professional help and visit a therapist who’ll help you. </p>
      </div>
        <br>
        <p style="font-size:15px;font-weight:500;color:white;text-align:center;">Helplines</p>
        <div style="width:100%;padding:10px 10px 0px 10px;background:rgba(255,255,255,0.04);">
          <table class="table table-striped table-borderless  table-sm table-dark" style="background:transparent">
            <thead><tr><td scope="row"style="font-size:14px;font-weight:600;">Country</td><td style="font-size:14px;font-weight:600;">Organization</td><td  style="font-size:14px;font-weight:600;">Contact</td><td  style="font-size:14px;font-weight:600;">Organization Details</td></tr></thead>
          <tbody>
            {% for hline in hlines %}
            <tr><td scope="row"style="font-size:11px;color:#E5E8E8">{{hline.country}}</td><td style="font-size:11px;color:#E5E8E8">{{hline.organization}} </td><td style="font-size:11px;color:#E5E8E8">{{hline.helpline_number}} </td><td style="font-size:11px;color:#E5E8E8">{{hline.organization_details}} </td></tr>
            {% endfor %}
          </tbody>
        </table>
        </div>

        {% elif score > 10 and score <= 22 %}
        <div class="col-lg-6 col-md-8 col-sm-10 col-10 progress" style="border-radius:30px;margin-left:auto;margin-right:auto;padding:0px;height:8px;">
         <div class="progress-bar" role="progressbar" style="width: {{score}}%;background:#ff2d00;" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
      <div class="col-lg-8" style="margin-left:auto;margin-right:auto;">
        <p style="font-size:13px;text-align:center;color: #ff8266;">You mental health seems to be poor with a score of {{score}}%. Be patient and tough, some day this pain will be useful to you. Even when life gives you a reason to give up, there are always 100 to keep going. We suggest you seek professional help and visit a therapist who’ll help you.  </p>
      </div>
      <br>
      <p style="font-size:15px;font-weight:500;color:white;text-align:center;">Helplines</p>
      <div style="width:100%;padding:10px 10px 0px 10px;background:rgba(255,255,255,0.04);">
        <table class="table table-striped table-borderless  table-sm table-dark" style="background:transparent">
          <thead><tr><td scope="row"style="font-size:14px;font-weight:600;">Country</td><td style="font-size:14px;font-weight:600;">Organization</td><td  style="font-size:14px;font-weight:600;">Contact</td><td  style="font-size:14px;font-weight:600;">Organization Details</td></tr></thead>
        <tbody>
          {% for hline in hlines %}
          <tr><td scope="row"style="font-size:11px;color:#E5E8E8">{{hline.country}}</td><td style="font-size:11px;color:#E5E8E8">{{hline.organization}} </td><td style="font-size:11px;color:#E5E8E8">{{hline.helpline_number}} </td><td style="font-size:11px;color:#E5E8E8">{{hline.organization_details}} </td></tr>
          {% endfor %}
        </tbody>
      </table>
      </div>


        {% elif score > 22 and score <= 35 %}
        <div class="col-lg-6 col-md-8 col-sm-10 col-10 progress" style="border-radius:30px;margin-left:auto;margin-right:auto;padding:0px;height:8px;">
         <div class="progress-bar" role="progressbar" style="width: {{score}}%;background:#ffbf00;" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
      <div class="col-lg-6" style="margin-left:auto;margin-right:auto;">
        <p style="font-size:13px;text-align:center;color:#ffd966;">You mental health seems to be average with a score of {{score}}%, Tomorrow will be your day! In the meantime focus on the good things that life has to offer. </p>
        <p style="font-size:13px;color:white;">Below are some recommendations based on your mental health score.</p>
        <div style="width:100%;padding:10px 10px 0px 10px;background:rgba(255,255,255,0.04);">
          <table class="table table-striped table-borderless  table-sm table-dark" style="background:transparent">
          <tbody>
            <tr><td scope="row"style="font-size:12px;color:#E5E8E8">1</td><td style="font-size:12px;color:#E5E8E8">Meditation </td></tr>
            <tr><td scope="row"style="font-size:12px;color:#E5E8E8">2</td><td style="font-size:12px;color:#E5E8E8">Talk to people who push you forward</td></tr>
            <tr><td scope="row"style="font-size:12px;color:#E5E8E8">3</td><td style="font-size:12px;color:#E5E8E8">Balanced Diet </td></tr>
            <tr><td scope="row"style="font-size:12px;color:#E5E8E8">4</td><td style="font-size:12px;color:#E5E8E8">Take time to heal, like you do when you’re physically hurt</td></tr>
            <tr><td scope="row"style="font-size:12px;color:#E5E8E8">5</td><td style="font-size:12px;color:#E5E8E8">Cut off toxic people who give you stress </td></tr>
            <tr><td scope="row"style="font-size:12px;color:#E5E8E8">6</td><td style="font-size:12px;color:#E5E8E8">See a therapist</td></tr>

          </tbody>
        </table>
        </div>
      </div>
        {% elif score > 35 and score <= 60 %}
        <div class="col-lg-6 col-md-8 col-sm-10 col-10 progress" style="border-radius:30px;margin-left:auto;margin-right:auto;padding:0px;height:8px;">
         <div class="progress-bar" role="progressbar" style="width: {{score}}%;background:#bfff00;" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
      <div class="col-lg-6" style="margin-left:auto;margin-right:auto;">
        <p style="font-size:13px;text-align:center;color:#d9ff66;">You mental health seems to be fine with a score of {{score}}%, it is okay to feel low sometimes. </p>
        <p style="font-size:13px;color:white;">We want you to know that everything is going to be just fine. Here is a list of things that will help you build a mental health-friendly lifestyle.</p>
        <div style="width:100%;padding:10px 10px 0px 10px;background:rgba(255,255,255,0.04);">
          <table class="table table-striped table-borderless  table-sm table-dark" style="background:transparent">
          <tbody>
            <tr><td scope="row"style="font-size:12px;color:#E5E8E8">1</td><td style="font-size:12px;color:#E5E8E8">Meditation </td></tr>
            <tr><td scope="row"style="font-size:12px;color:#E5E8E8">2</td><td style="font-size:12px;color:#E5E8E8">Yoga</td></tr>
            <tr><td scope="row"style="font-size:12px;color:#E5E8E8">3</td><td style="font-size:12px;color:#E5E8E8">Balanced Diet </td></tr>
            <tr><td scope="row"style="font-size:12px;color:#E5E8E8">4</td><td style="font-size:12px;color:#E5E8E8">Excercise</td></tr>
            <tr><td scope="row"style="font-size:12px;color:#E5E8E8">5</td><td style="font-size:12px;color:#E5E8E8">Spend quality time with friends and family. </td></tr>
            <tr><td scope="row"style="font-size:12px;color:#E5E8E8">6</td><td style="font-size:12px;color:#E5E8E8">Take a break</td></tr>
            <tr><td scope="row"style="font-size:12px;color:#E5E8E8">7</td><td style="font-size:12px;color:#E5E8E8">Have a hobby </td></tr>
          </tbody>
        </table>
        </div>
      </div>
        {% elif score > 60 and score <= 80 %}
        <div class="col-lg-6 col-md-8 col-sm-10 col-10 progress" style="border-radius:30px;margin-left:auto;margin-right:auto;padding:0px;height:8px;">
         <div class="progress-bar" role="progressbar" style="width: {{score}}%;background: 	#80ff00;" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
          <br>
        <div class="col-lg-6" style="margin-left:auto;margin-right:auto;">
          <p style="font-size:13px;text-align:center;color:#ccff99;">You mental health seems to be good enough with a score of {{score}}% . </p>
          <p style="font-size:13px;color:white;">We suggest you do things that make you feel better. Here is a list of things that might help:</p>
          <div style="width:100%;padding:10px 10px 0px 10px;background:rgba(255,255,255,0.04);">
            <table class="table table-striped table-borderless  table-sm table-dark" style="background:transparent">
            <tbody>
              <tr><td scope="row"style="font-size:12px;color:#E5E8E8">1</td><td style="font-size:12px;color:#E5E8E8">Dance like no one is watching </td></tr>
              <tr><td scope="row"style="font-size:12px;color:#E5E8E8">2</td><td style="font-size:12px;color:#E5E8E8">Listen to music</td></tr>
              <tr><td scope="row"style="font-size:12px;color:#E5E8E8">3</td><td style="font-size:12px;color:#E5E8E8">Spend quality time with your loved ones </td></tr>
              <tr><td scope="row"style="font-size:12px;color:#E5E8E8">4</td><td style="font-size:12px;color:#E5E8E8">Take time to relax</td></tr>
              <tr><td scope="row"style="font-size:12px;color:#E5E8E8">5</td><td style="font-size:12px;color:#E5E8E8">Go for a walk or travel </td></tr>
              <tr><td scope="row"style="font-size:12px;color:#E5E8E8">6</td><td style="font-size:12px;color:#E5E8E8">Watch a movie</td></tr>
              <tr><td scope="row"style="font-size:12px;color:#E5E8E8">7</td><td style="font-size:12px;color:#E5E8E8">Read a book </td></tr>
              <tr><td scope="row"style="font-size:12px;color:#E5E8E8">8</td><td style="font-size:12px;color:#E5E8E8">Adopt a pet</td></tr>
            </tbody>
          </table>
          </div>
        </div>

        {% else %}
        <div class="col-lg-6 col-md-8 col-sm-10 col-10 progress" style="border-radius:30px;margin-left:auto;margin-right:auto;padding:0px;height:8px;">
         <div class="progress-bar" role="progressbar" style="width: {{score}}%;background: #00ff40;" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
        <p class="col-lg-6" style="font-size:13px;text-align:center;margin-left:auto;margin-right:auto;color:#66ff8c;">You are mentally fit with a score of {{score}}% .We are proud of you for holding yourself together! It is a tough crowd out there and you’ve managed to deal with it. You are not just a survivor, you are a warrior. </p>

        {% endif %}
        <br>

        {% else %}
        <p style="color:white;text-align:center;font-family: 'Roboto', sans-serif;font-size:20px;font-weight:400;margin-bottom:4px;">Your Mental Health Status</p>
        <p style="color:#BFC9CA;font-size:12px;text-align:center; margin-bottom:5px;">We provide your mental health score in a scale of 0 to 100. 0 being the worst and 100  being the best case.</p>
        <hr color=" #0d0d0d" style="margin:0px;">
        <br>
        <p style="color:#ffff4d;font-size:12px;font-weight:400;text-align:center; margin-bottom:0px;">You have not submitted the test. Please submit the test to get results. </p>
        <br>
        {% endif %}
     </div>

    </div>
  </div>
  <div class="text-center" style="padding:40px;">
    <p  style="text-align:center;padding:0px;font-size:13px;color:gray;font-weight:400;font-family: 'Roboto', sans-serif;">Your feedback is important and it help us to improve our features, please share your experience with us. </p>
    <a class="btn btn-outline-primary" href="{% url 'rating' %}"style="border-radius:30px;border-width:1px;font-size:13px;margin:auto;font-weight:400;padding:4px 8px 4px 8px">Rate Us <i class="bi bi-chevron-double-right"></i></a>
  </div>
  <br><br>

  </div>

</div>


{% endblock content %}
